<nav class="flex p-3 justify-between text-zinc-200 ">
    <p class="text-2xl font-bold">Pintrest Clone </p>
    <div class="flex">
        <a href="/home" class="  font-bold px-4 py-2  rounded-md ml-10">Home</a>
        <a href="/savedpins" class=" font-bold px-4 py-2  rounded-md ml-10">Saved Pins</a>
        <a href="/profile" class=" font-bold px-4 py-2  rounded-md ml-10">Profile</a>
        <form action="/logout" method="post">
            <button class="bg-red-600 text-zinc-200 px-4 py-2  rounded-md ml-10" type="submit">Logout</button>
        </form>
    </div>
</nav>