<%- include('./partials/header.ejs') %>
<div class="w-full h-screen ">
    <%- include('./partials/Navbar.ejs') %>

    <div class=" p-3 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
        
        <div id="imageContainer">
            <img id="imagePreview" src="https://firebasestorage.googleapis.com/v0/b/pintres-project.appspot.com/o/images%2F1727069649307-head%20of%20marketting%20pic.jpeg?alt=media&token=40cdf214-fcdf-47f1-8c22-4e4d580f2b3b" alt="Image preview will appear here" style="max-width: 300px;"/>
        </div>

        
    </div>
    


</div>
<%- include('./partials/footer.ejs') %>


