<%- include('./partials/header.ejs') %>
<div class="w-full h-screen ">
    <%- include('./partials/Navbar.ejs') %>
    <p>this is the saved pins page </p>
</div>
<%- include('./partials/footer.ejs') %>
